%red {
    color: red;
}

%purple {
    color: rgb(47, 0, 255);
}

%green {
    color: rgb(0, 195, 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}